@use '../custom' as *;
@use '../components/mixin' as *;
.menu {
  @include gradient;
}

.display-3--title-2 {
  font-size: 1.5rem;
}

//FLOATING MENUS
.menu-2 {
  background-color: $white;
}

.navbar-nav-3 {
  border: 0.1rem solid $gray-400;
  padding: 2rem;
}

.navbar-nav-2 {
  border-top: 0.1rem solid $gray-400;
  border-bottom: 0.1rem solid $gray-400;
  padding: 1rem;
  display: table;
  table-layout: fixed;
  list-style-type: none;
  width: 100%;

  li {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
    a {
      position: relative;
      color: $black;
      text-transform: uppercase;
      font-weight: 600;

      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
        transition: all 0.5s;
        transform: scale(0);
      }
    }

    &:hover {
      a {
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}

//OVERVIEW
.display-3--sub-title-1 {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: $gray-600;
}

//SEARCH BAR
.navbarNav {
  display: flex;
  flex-direction: row;
  position: relative;
}

.searchbar {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.searchbar form {
  position: absolute;
  right: 3.5px;
  top: 70px;
  transform: translate(0%, -50%);
  transition: all 1s;
  width: 40px;
  height: 40px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid $secondary;
  padding: 5px;
}

.searchbar > form input {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: 36px;
  line-height: 20px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 0 20px;
  &:focus {
    width: 445px;
  }
}

.searchbar form:hover {
  width: 450px;
  cursor: pointer;
}

.searchbar form:hover input {
  display: block;
}

.searchbar input::placeholder {
  color: #242424;
  font-size: 0.8em;
}

.searchbar > form:hover #search-icon {
  background: $primary;
  color: white;
}

#search-icon {
  box-sizing: border-box;
  padding: 10px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: $primary;
  text-align: center;
  font-size: 1rem;
  transition: all 1s;
}

#search-icon:active,
#search-icon:focus {
  outline: none;
}

.searchbar-2 {
  @include media-breakpoint-down(lg) {
    display: block;
  }
}

//NAVBAR
.navbar-nav {
  li {
    padding: 0 0.7rem;
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
    a {
      position: relative;
      color: #fff !important;
      text-transform: capitalize;
      font-weight: 600;

      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
        transition: all 0.5s;
        transform: scale(0);
      }
    }

    &:hover {
      a {
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}

.nav-icons {
  position: relative;
  i {
    padding: 0 0.7rem;
    font-size: 22px;
    color: $white;

    b {
      .bg-danger {
        background-color: $primary !important;
        left: 130% !important;
      }
    }

    &:hover {
      color: $primary;
    }
    @include media-breakpoint-down(lg) {
      display: no;
    }
  }

  .nav-cart {
    @include media-breakpoint-down(lg) {
    }
  }
}

//INSERT TOP

.insert-top {
  height: 52.5px;
}
