@use '../custom' as *;
@use '../components/mixin' as *;
.menu {
  @include gradient;
}

//NAVBAR
.navbar-nav {
  li {
    padding: 0 0.7rem;
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
    a {
      position: relative;
      color: #fff !important;
      text-transform: capitalize;
      font-weight: 600;

      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
        transition: all 0.5s;
        transform: scale(0);
      }
    }

    &:hover {
      a {
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}
.nav-icons {
  position: relative;
  i {
    padding: 0 0.7rem;
    font-size: 22px;
    color: $white;

    b {
      .bg-danger {
        background-color: $primary !important;
        left: 130% !important;
      }
    }

    &:hover {
      color: $primary;
    }
    @include media-breakpoint-down(lg) {
      display: no;
    }
  }
}

//INSERT TOP

.insert-top {
  height: 52.5px;
}
